{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- content starts here -->
<div class="container-fluid">
    <div class="row">
        <h3>Booking for: {{ booking.booking_date }}</h3>
        <div class="col-12 col-sm-6 col-lg-4"><strong>Departing from: </strong>{{ flight.departure_airport.city }}</div>
        <div class="col-12 col-sm-6 col-lg-4"><strong>Arriving at: </strong>{{ flight.arrival_airport.city }}</div>
        <div class="col-12 col-sm-6 col-lg-4"><strong>Airline: </strong>{{ flight.airline }}</div>
        <div class="col-12 col-sm-6 col-lg-4"><strong>Flight Number: </strong>{{ flight.flight_number }}</div>
        <!-- We will be displaying the expected departure time rather than the scheduled time, so the user
            can immediately see when they need to get to the gate and when to expect take off. -->
        <div class="col-12 col-sm-6 col-lg-4"><strong>Departure Time: </strong>{{ flight.expected_time|time:"H:i" }}</div>
        <!-- Same as previously, except now its the expected arrival time -->
        <div class="col-12 col-sm-6 col-lg-4"><strong>Arrival Time: </strong>{{ flight.arrival_expected_time|time:"H:i" }}</div>
        <div class="col-12 col-sm-6 col-lg-4"><strong>Status: </strong>{{ flight.status }}</div>
        <button class="btn btn-danger btn-delete" data-journey_id="{{ journey.id }}"
                    data-user_id="{{ user.id }}">Remove Booking</button>
        <div id="passengerAccordion" class="accordion col-lg-6">
            {% for passenger in passenger_list %}
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="acc-btn accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ forloop.counter0 }}" aria-expanded="true"
                        aria-controls="collapse{{ forloop.counter0 }}">
                        <span id="first_name_{{ passenger.id }}">{{ passenger.first_name }}</span>
                        <span id="last_name_{{ passenger.id }}" class="ms-1">{{ passenger.last_name }}</span>
                    </button>
                </h2>
                <div id="collapse{{ forloop.counter0 }}"
                    class="accordion collapse collapse {% if forloop.first %}show{% endif %}"
                    data-bs-parent="#passengerAccordion">
                    <div class="accordion-body">
                        <p>Baggage: <span id="baggage_{{ passenger.id }}">
                                {{ passenger.baggage_weight }}</span></p>
                        <p>Dietary Requirements: <span id="dietary_{{ passenger.id }}">
                                {{ passenger.dietary_requirements }}</span></p>
                        <button class="btn btn-warning btn-edit" data-passenger_id="{{ passenger.id }}"
                            data-booking_id="{{ booking.id }}">Edit Passenger Details</button>
                        <button class="btn btn-danger btn-delete" data-passenger_id="{{ passenger.id }}"
                            data-user_id="{{ user.id }}" data-booking_id="{{ booking.id }}">Delete Passenger</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Passenger form -->
        <div class="col-lg-6 card mb-3 mt-3" style="padding: 1.3rem;">
            <h3>Passenger Details</h3>
            <p>Enter your details to book this flight</p>
            <form id="passengerForm" method="post">
                {{ passenger_form | crispy }}
                {% csrf_token %}
                <input type="hidden" name="user_id" value="{{ user.id }}">
                {% if passenger_form.errors %}
                <div class="alert alert-danger">
                    <p>Please correct the following errors:</p>
                    <ul>
                        {% for error in passenger_form.errors %}
                        <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                <button id="submitButton" type="submit" class="btn btn-primary">Add Customer to Booking</button>
            </form>
        </div>
    </div>

</div>

<!-- Remove flight confirmation modal (CRUD - DELETE) -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Remove Booking?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="modal-body">
                Are you sure you want to remove this booking?
                This action cannot be undone.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn btn-danger">Remove</a>
            </div>
        </div>
    </div>
</div>

<!-- end of index.html -->
{% endblock content %}

{% block extras %}
<script src="{% static 'js/bookings.js' %}"></script>
{% endblock extras %}