{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<!-- content starts here -->

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-6 col-lg-4"><strong>Departing from: </strong>{{ flight.departure_airport.city }}</div>
        <div class="col-12 col-sm-6 col-lg-4"><strong>Arriving at: </strong>{{ flight.arrival_airport.city }}</div>
        <div class="col-12 col-sm-6 col-lg-4"><strong>Airline: </strong>{{ flight.airline }}</div>
        <div class="col-12 col-sm-6 col-lg-4"><strong>Flight Number: </strong>{{ flight.flight_number }}</div>
        <!-- We will be displaying the expected departure time rather than the scheduled time, so the user
            can immediately see when they need to get to the gate and when to expect take off. -->
        <div class="col-12 col-sm-6 col-lg-4"><strong>Departure Time: </strong>{{ flight.expected_time|time:"H:i" }}</div>
        <!-- Same as previously, except now its the expected arrival time -->
        <div class="col-12 col-sm-6 col-lg-4"><strong>Arrival Time: </strong>{{ flight.arrival_expected_time|time:"H:i" }}</div>
        <div class="col-12 col-sm-6 col-lg-4"><strong>Status: </strong>{{ flight.status }}</div>
        <div class="row justify-content-center">
            {% if user.is_authenticated %}
            <div class="col-12 col-sm-8 card mb-3 mt-3" style="padding: 1.3rem;">
                <h3>Passenger Details</h3>
                <p>Enter your details to book this flight</p>
                <form id="bookingForm" method="post">
                    {{ passenger_form | crispy }}
                    {% csrf_token %}
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    {% if passenger_form.errors %}
                    <div class="alert alert-danger">
                        <p>Please correct the following errors:</p>
                        <ul>
                            {% for error in passenger_form.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <button id="submitButton" type="submit" class="btn btn-primary">Book this Flight</button>
                </form>
            </div>
            {% else %}
            <p>Log in to book this flight</p>
            {% endif %}
        </div>
    </div>

</div>


<!-- end of index.html -->
{% endblock %}