{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- content starts here -->

<div class="container-fluid">
    <div class="row">
        <div id="flightsTable" class="container text-left">
            <!-- add if statements to adjust cols for departures vs arrivals -->
            <div class="row row-cols-6 row-cols-sm-7 row-cols-xl-8" id="table-header">
                <div class="col-5 col-sm-4 col-xl-3">
                    <h3>Destination</h3>
                </div>
                <!-- hide airline name on large or smaller devices -->
                <div class="col col-xl-3 d-none d-xl-block">
                    <h3>Airline</h3>
                </div>
                <!-- hide flight code on x-small devices -->
                <div class="col d-none d-sm-block">
                    <h3>Flight</h3>
                </div>
                <div class="col">
                    <h3>Time</h3>
                </div>
                <div class="col-3 col-sm-2">
                    <h3>Status</h3>
                </div>
            </div>
            <!-- loop through the flights, using the include insert the flight row -->
            {% for flight in flight_list %}
            <a href="{% url 'flight_detail' flight.id %}">
                <div class="row row-cols-6 row-cols-sm-7 row-cols-xl-8
                    table-row {% if forloop.counter0|divisibleby:2 %}table-row-odd{% else %}table-row-even{% endif %}">
                    <div class="col-5 col-sm-4 col-xl-3 d-block">{{ flight.arrival_airport.city }}</div>
                    <!-- hide airline name on large or smaller devices -->
                    <div class="col col-xl-3 d-none d-xl-block">{{ flight.airline }}</div>
                    <!-- hide flight code on x-small devices -->
                    <div class="col d-none d-sm-block">{{ flight.flight_number }}</div>
                    <div class="col d-block">{{ flight.expected_time|time:"H:i" }}</div>
                    <div class="col-3 col-sm-2 d-block">{{ flight.status }}</div>
                    <!-- show expand button on large or smaller devices -->
                    <div class="col d-block d-xl-none text-end">
                        <button class="btn btn-primary expand-btn" data-flight_id="expand-{{ flight.id }}"></button>
                    </div>
                </div>
            </a>
            <!-- plus button toggles this extra information row to be visible. -->
            <div class="row extra-flight-info" id="expand-{{ flight.id }}" style="display: none;">
                <!-- show airline name on large or smaller devices -->
                <div class="col d-block d-xl-none"><strong>Airline: </strong>{{ flight.airline }}</div>
                <!-- show flight code on x-small devices -->
                <div class="col d-block d-sm-none"><strong>Flight Number: </strong>{{ flight.flight_number }}</div>
            </div>
            <!-- end flight loop -->
            {% endfor %}
        </div>
    </div>
</div>

<!-- end of index.html -->
{% endblock %}

{% block extras %}
<script src="{% static 'js/flight_timetable.js' %}"></script>
{% endblock extras %}