{% extends "base.html" %}
{% load static %}
{% url 'home' as home_url %}
{% block content %}
<!-- content starts here -->

<div class="container-fluid">
    <div class="row">
        <h3 id="no-bookings-header">No Bookings available</h3>
        <p id="no-bookings-paragraph">You haven't booked a flight yet. <a href="{% url 'home' %}">Click here</a> to view all available flights.</p>
        {% for booking in booking_list %}
        <h3>
            <div class="col-12 col-md-6">Booking for: </div>
            <div class="col-12 col-md-6">{{ booking.booking_date }}</div>
        </h3>
        <a class="btn btn-info" href="{% url 'booking_detail' user.id booking.id %}">Booking Details</a>
        <div class="container text-left">
            <!-- add if statements to adjust cols for departures vs arrivals -->
            <div class="row row-cols-7 row-cols-md-8 row-cols-lg-9 row-cols-xl-10" id="table-header">
                <div class="col-4 col-md-3 col-lg-2">
                    <h3>Departing</h3>
                </div>
                <!-- hide arriving city name on medium or smaller devices -->
                <div class="col d-none d-lg-block">
                    <h3>Arriving</h3>
                </div>
                <!-- hide airline name on large or smaller devices -->
                <div class="col d-none d-xl-block">
                    <h3>Airline</h3>
                </div>
                <!-- hide flight code on x-small devices -->
                <div class="col d-none d-sm-block">
                    <h3>Flight</h3>
                </div>
                <div class="col">
                    <!-- on medium and larger devices, use first header title.
                     On small or smaller, use second header title -->
                    <h3 class="d-none d-md-block">Departure Time</h3>
                    <h3 class="d-block d-md-none">Time</h3>
                </div>
                <!-- hide arrival time on small or smaller devices -->
                <div class="col d-none d-md-block">
                    <h3>Arrival Time</h3>
                </div>
                <div class="col">
                    <h3>Status</h3>
                </div>
                <!-- empty div for aligning columns when button appears show column on large or smaller devices-->
                <div class="col d-block d-xl-none"></div>
            </div>
            <!-- Loop through the journeys, using only the journeys that match the current booking -->
            {% for journey in journey_list %}
            {% if journey.booking_id == booking %}
            <!-- now loop through the flights, and only display the flights that match the current journey -->
            {% for flight in flight_list %}
            {% if journey.flight_id == flight %}
            <!-- cycle between the two classes, for each iteration that passes the above if statement.
            This is then styled in css, which will give us a striped effect on the table. -->
            <div class="row row-cols-7 row-cols-md-8 row-cols-lg-9 row-cols-xl-10
                            booking-row {% cycle 'table-row-odd' 'table-row-even' %}">
                <div class="col-4 col-md-3 col-lg-2">{{ flight.departure_airport.city }}</div>
                <div class="col d-none d-lg-block">{{ flight.arrival_airport.city }}</div>
                <!-- hide airline name on large or smaller devices -->
                <div class="col d-none d-xl-block">{{ flight.airline }}</div>
                <!-- hide flight code on x-small devices -->
                <div class="col d-none d-sm-block">{{ flight.flight_number }}</div>
                <div class="col">{{ flight.expected_time|time:"H:i" }}</div>
                <!-- hide arrival time on small or smaller devices -->
                <div class="col d-none d-md-block">{{ flight.arrival_expected_time|time:"H:i" }}</div>
                <div class="col">{{ flight.status }}</div>
                <!-- show expand button on large or smaller devices -->
                <div class="col d-block d-xl-none text-end">
                    <button class="btn btn-primary expand-btn" data-flight_id="expand-{{ flight.id }}"></button>
                </div>
            </div>
            <!-- plus button toggles this extra information row to be visible. -->
            <div class="row extra-flight-info" id="expand-{{ flight.id }}" style="display: none;">
                <div class="col d-block d-lg-none"><strong>Arriving at: </strong>
                    {{ flight.arrival_airport.city }}</div>
                <!-- show airline name on large or smaller devices -->
                <div class="col d-block d-xl-none"><strong>Airline: </strong>{{ flight.airline }}</div>
                <!-- show flight code on x-small devices -->
                <div class="col d-block d-sm-none"><strong>Flight Number: </strong>{{ flight.flight_number }}</div>
                <!-- show arrival time on small or smaller devices -->
                <div class="col d-block d-md-none"><strong>Arrival Time: </strong>
                    {{ flight.arrival_expected_time|time:"H:i" }}</div>
            </div>
            <!-- end flights loop -->
            {% endif %}
            {% endfor %}
            <!-- Reset the cycle now that we are starting a new flights table, for the next journey -->
            {% resetcycle %}
            <!-- end journeys loop -->
            {% endif %}
            {% endfor %}
        </div>
        <!-- Hide the "no bookings" message if we successfully found a booking -->
        <style>
            #no-bookings-header, #no-bookings-paragraph {
                display: none;
            }
        </style>
        <!-- end bookings loop -->
        {% endfor %}
    </div>
</div>

<!-- end of index.html -->
{% endblock content %}

{% block extras %}
<script src="{% static 'js/bookings.js' %}"></script>
<script src="{% static 'js/flight_timetable.js' %}"></script>
{% endblock extras %}